<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for campo in formulario %}
        <div class="mb-3">
            <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
            <br>
            {% if campo.field.widget.input_type == 'file' and campo.value %}
            <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" alt="Foto de {{ campo.label }}" style="width: 100px; height: 100px;">
            {% endif %}
            <input type="{{ campo.field.widget.input_type }}" class="form-control" id="{{ campo.id_for_label }}" name="{{ campo.name }}" value="{{campo.value | default:''}}" >
            <div class="col-12 help-text">{{ campo.errors }}</div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Registrar</button>
        <a href="{% url 'index' %}" class="btn btn-success">Cancelar</a>
</form>