{% extends "base.html" %}

{% block titulo %}
    Empleados
{% endblock %}  

{% block contenido %}
<div class="container mt-4">   

    <a class="btn btn-primary m-2" href="{% url 'registrar' %}" role="button">Registrar nuvo empleado</a>
    
  
    <div
        class="table-responsive"
    >
        <table
            class="table table-striped table-bordered"
        >
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Acciones</th>
                 
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleado %}
                <tr class="">
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td>{{ empleado.cargo }}</td>
                    <td><img src="{{ empleado.foto.url }}" alt="Foto de {{ empleado.nombre }}" style="width: 50px; height: 50px;"></td>
                    <td><a class="btn btn-primary" href="{% url 'editar' empleado.id %}" role="button" >Editar</a> | <a class="btn btn-danger" href="{% url 'eliminar' empleado.id %}" role="button">Eliminar</a>
                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    

     
</div>
{% endblock %}