{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Perfil {% endblock title %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Editar perfil</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-md-1">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" disabled="" placeholder="Company" value="LN INVERSIONES.">
                </div>
              </div>
              <div class="col-md-3 px-md-1">
                <div class="form-group">
                  <label>Usuario</label>
                  <input type="text" class="form-control" placeholder="Username" value="michael23">
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Correo</label>
                  <input type="email" class="form-control" placeholder="mike@email.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Company" value="Mike">
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label>Apellido</label>
                  <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Direccion</label>
                  <input type="text" class="form-control" placeholder="Home Address"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-md-1">
                <div class="form-group">
                  <label>Ciudad</label>
                  <input type="text" class="form-control" placeholder="City" value="Mike">
                </div>
              </div>
              <div class="col-md-4 px-md-1">
                <div class="form-group">
                  <label>pais</label>
                  <input type="text" class="form-control" placeholder="Country" value="Andrew">
                </div>
              </div>
              <div class="col-md-4 pl-md-1">
                <div class="form-group">
                  <label>Codigo Postal</label>
                  <input type="number" class="form-control" placeholder="ZIP Code">
                </div>
              </div>
            </div>
           
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-fill btn-primary">Guardar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="{% static 'assets/img/ln.png' %}" alt="...">
              <h5 class="title">Luis Navarro</h5>
            </a>
            <p class="description">
              Ceo
            </p>
          </div>
          </p>
          <div class="card-description">
            Emprendedor de 22 años con una profunda pasión por la tecnología y un firme compromiso con la creación de soluciones innovadoras. Mi objetivo es impulsar una carrera en el sector tecnológico, enfocándome en el desarrollo de productos que generen un impacto significativo y mejoren la calidad de vida de las personas.
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
              <i class="fab fa-facebook"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
              <i class="fab fa-twitter"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
              <i class="fab fa-google-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}