{% extends "base_login.html"%}

{% block titulo %} Iniciar Sesión {% endblock titulo %}

{% block content %}
    <div class="login-container">
        <h2>Inicia Sesión</h2>
        <form>
            <div class="input-group">
                <input type="text" id="email" required>
                <label for="email">Correo Electrónico</label>
            </div>
            <button type="submit">Recuperar</button>
            <div class="link-group">
                <a href="{% url 'login' %}">Iniciar sesion</a>
            </div>
           
        </form>
    </div>
{% endblock content %}

