{% extends "base_login.html"%}

{% block titulo %} Iniciar Sesión {% endblock titulo %}

{% block content %}

    <div class="login-container">
        <h2>Regístrate</h2>
        <form>
            <div class="input-group">
                <input type="text" id="name" required>
                <label for="name">Nombre Completo</label>
            </div>
            <div class="input-group">
                <input type="email" id="email" required>
                <label for="email">Correo Electrónico</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" required>
                <label for="password">Contraseña</label>
            </div>
            <div class="input-group">
                <input type="password" id="confirm-password" required>
                <label for="confirm-password">Confirma Contraseña</label>
            </div>
            <button type="submit">Crear Cuenta</button>
            <div class="link-group">
                <span>¿Ya tienes cuenta? </span>
                <a href="{% url 'login' %}">Inicia Sesión</a>
            </div>
            <div class="social-login">
                <div class="social-btn google">
                    <i class="fab fa-google"></i>
                    Google
                </div>
                <div class="social-btn facebook">
                    <i class="fab fa-facebook-f"></i>
                    Facebook
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

